
.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-5-5,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-8,
.pure-u-3-8,
.pure-u-5-8,
.pure-u-7-8,
.pure-u-1-12,
.pure-u-5-12,
.pure-u-7-12,
.pure-u-11-12,
.pure-u-1-24,
.pure-u-2-24,
.pure-u-3-24,
.pure-u-4-24,
.pure-u-5-24,
.pure-u-6-24,
.pure-u-7-24,
.pure-u-8-24,
.pure-u-9-24,
.pure-u-10-24,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24 {
    display: inline-block;
    display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto
}

.pure-u-1-24 {
    width: 4.1667%;
    *width: 4.1357%
}

.pure-u-1-12,
.pure-u-2-24 {
    width: 8.3333%;
    *width: 8.3023%
}

.pure-u-1-8,
.pure-u-3-24 {
    width: 12.5%;
    *width: 12.469%
}

.pure-u-1-6,
.pure-u-4-24 {
    width: 16.6667%;
    *width: 16.6357%
}

.pure-u-1-5 {
    width: 20%;
    *width: 19.969%
}

.pure-u-5-24 {
    width: 20.8333%;
    *width: 20.8023%
}

.pure-u-1-4,
.pure-u-6-24 {
    width: 25%;
    *width: 24.969%
}

.pure-u-7-24 {
    width: 29.1667%;
    *width: 29.1357%
}

.pure-u-1-3,
.pure-u-8-24 {
    width: 33.3333%;
    *width: 33.3023%
}

.pure-u-3-8,
.pure-u-9-24 {
    width: 37.5%;
    *width: 37.469%
}

.pure-u-2-5 {
    width: 40%;
    *width: 39.969%
}

.pure-u-5-12,
.pure-u-10-24 {
    width: 41.6667%;
    *width: 41.6357%
}

.pure-u-11-24 {
    width: 45.8333%;
    *width: 45.8023%
}

.pure-u-1-2,
.pure-u-12-24 {
    width: 50%;
    *width: 49.969%
}

.pure-u-13-24 {
    width: 54.1667%;
    *width: 54.1357%
}

.pure-u-7-12,
.pure-u-14-24 {
    width: 58.3333%;
    *width: 58.3023%
}

.pure-u-3-5 {
    width: 60%;
    *width: 59.969%
}

.pure-u-5-8,
.pure-u-15-24 {
    width: 62.5%;
    *width: 62.469%
}

.pure-u-2-3,
.pure-u-16-24 {
    width: 66.6667%;
    *width: 66.6357%
}

.pure-u-17-24 {
    width: 70.8333%;
    *width: 70.8023%
}

.pure-u-3-4,
.pure-u-18-24 {
    width: 75%;
    *width: 74.969%
}

.pure-u-19-24 {
    width: 79.1667%;
    *width: 79.1357%
}

.pure-u-4-5 {
    width: 80%;
    *width: 79.969%
}

.pure-u-5-6,
.pure-u-20-24 {
    width: 83.3333%;
    *width: 83.3023%
}

.pure-u-7-8,
.pure-u-21-24 {
    width: 87.5%;
    *width: 87.469%
}

.pure-u-11-12,
.pure-u-22-24 {
    width: 91.6667%;
    *width: 91.6357%
}

.pure-u-23-24 {
    width: 95.8333%;
    *width: 95.8023%
}

.pure-u-1,
.pure-u-1-1,
.pure-u-5-5,
.pure-u-24-24 {
    width: 100%
}

@media screen and (min-width:35.5em) {
    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-1-2,
    .pure-u-sm-1-3,
    .pure-u-sm-2-3,
    .pure-u-sm-1-4,
    .pure-u-sm-3-4,
    .pure-u-sm-1-5,
    .pure-u-sm-2-5,
    .pure-u-sm-3-5,
    .pure-u-sm-4-5,
    .pure-u-sm-5-5,
    .pure-u-sm-1-6,
    .pure-u-sm-5-6,
    .pure-u-sm-1-8,
    .pure-u-sm-3-8,
    .pure-u-sm-5-8,
    .pure-u-sm-7-8,
    .pure-u-sm-1-12,
    .pure-u-sm-5-12,
    .pure-u-sm-7-12,
    .pure-u-sm-11-12,
    .pure-u-sm-1-24,
    .pure-u-sm-2-24,
    .pure-u-sm-3-24,
    .pure-u-sm-4-24,
    .pure-u-sm-5-24,
    .pure-u-sm-6-24,
    .pure-u-sm-7-24,
    .pure-u-sm-8-24,
    .pure-u-sm-9-24,
    .pure-u-sm-10-24,
    .pure-u-sm-11-24,
    .pure-u-sm-12-24,
    .pure-u-sm-13-24,
    .pure-u-sm-14-24,
    .pure-u-sm-15-24,
    .pure-u-sm-16-24,
    .pure-u-sm-17-24,
    .pure-u-sm-18-24,
    .pure-u-sm-19-24,
    .pure-u-sm-20-24,
    .pure-u-sm-21-24,
    .pure-u-sm-22-24,
    .pure-u-sm-23-24,
    .pure-u-sm-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto
    }
    .pure-u-sm-1-24 {
        width: 4.1667%;
        *width: 4.1357%
    }
    .pure-u-sm-1-12,
    .pure-u-sm-2-24 {
        width: 8.3333%;
        *width: 8.3023%
    }
    .pure-u-sm-1-8,
    .pure-u-sm-3-24 {
        width: 12.5%;
        *width: 12.469%
    }
    .pure-u-sm-1-6,
    .pure-u-sm-4-24 {
        width: 16.6667%;
        *width: 16.6357%
    }
    .pure-u-sm-1-5 {
        width: 20%;
        *width: 19.969%
    }
    .pure-u-sm-5-24 {
        width: 20.8333%;
        *width: 20.8023%
    }
    .pure-u-sm-1-4,
    .pure-u-sm-6-24 {
        width: 25%;
        *width: 24.969%
    }
    .pure-u-sm-7-24 {
        width: 29.1667%;
        *width: 29.1357%
    }
    .pure-u-sm-1-3,
    .pure-u-sm-8-24 {
        width: 33.3333%;
        *width: 33.3023%
    }
    .pure-u-sm-3-8,
    .pure-u-sm-9-24 {
        width: 37.5%;
        *width: 37.469%
    }
    .pure-u-sm-2-5 {
        width: 40%;
        *width: 39.969%
    }
    .pure-u-sm-5-12,
    .pure-u-sm-10-24 {
        width: 41.6667%;
        *width: 41.6357%
    }
    .pure-u-sm-11-24 {
        width: 45.8333%;
        *width: 45.8023%
    }
    .pure-u-sm-1-2,
    .pure-u-sm-12-24 {
        width: 50%;
        *width: 49.969%
    }
    .pure-u-sm-13-24 {
        width: 54.1667%;
        *width: 54.1357%
    }
    .pure-u-sm-7-12,
    .pure-u-sm-14-24 {
        width: 58.3333%;
        *width: 58.3023%
    }
    .pure-u-sm-3-5 {
        width: 60%;
        *width: 59.969%
    }
    .pure-u-sm-5-8,
    .pure-u-sm-15-24 {
        width: 62.5%;
        *width: 62.469%
    }
    .pure-u-sm-2-3,
    .pure-u-sm-16-24 {
        width: 66.6667%;
        *width: 66.6357%
    }
    .pure-u-sm-17-24 {
        width: 70.8333%;
        *width: 70.8023%
    }
    .pure-u-sm-3-4,
    .pure-u-sm-18-24 {
        width: 75%;
        *width: 74.969%
    }
    .pure-u-sm-19-24 {
        width: 79.1667%;
        *width: 79.1357%
    }
    .pure-u-sm-4-5 {
        width: 80%;
        *width: 79.969%
    }
    .pure-u-sm-5-6,
    .pure-u-sm-20-24 {
        width: 83.3333%;
        *width: 83.3023%
    }
    .pure-u-sm-7-8,
    .pure-u-sm-21-24 {
        width: 87.5%;
        *width: 87.469%
    }
    .pure-u-sm-11-12,
    .pure-u-sm-22-24 {
        width: 91.6667%;
        *width: 91.6357%
    }
    .pure-u-sm-23-24 {
        width: 95.8333%;
        *width: 95.8023%
    }
    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-5-5,
    .pure-u-sm-24-24 {
        width: 100%
    }
}

@media screen and (min-width:48em) {
    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-1-2,
    .pure-u-md-1-3,
    .pure-u-md-2-3,
    .pure-u-md-1-4,
    .pure-u-md-3-4,
    .pure-u-md-1-5,
    .pure-u-md-2-5,
    .pure-u-md-3-5,
    .pure-u-md-4-5,
    .pure-u-md-5-5,
    .pure-u-md-1-6,
    .pure-u-md-5-6,
    .pure-u-md-1-8,
    .pure-u-md-3-8,
    .pure-u-md-5-8,
    .pure-u-md-7-8,
    .pure-u-md-1-12,
    .pure-u-md-5-12,
    .pure-u-md-7-12,
    .pure-u-md-11-12,
    .pure-u-md-1-24,
    .pure-u-md-2-24,
    .pure-u-md-3-24,
    .pure-u-md-4-24,
    .pure-u-md-5-24,
    .pure-u-md-6-24,
    .pure-u-md-7-24,
    .pure-u-md-8-24,
    .pure-u-md-9-24,
    .pure-u-md-10-24,
    .pure-u-md-11-24,
    .pure-u-md-12-24,
    .pure-u-md-13-24,
    .pure-u-md-14-24,
    .pure-u-md-15-24,
    .pure-u-md-16-24,
    .pure-u-md-17-24,
    .pure-u-md-18-24,
    .pure-u-md-19-24,
    .pure-u-md-20-24,
    .pure-u-md-21-24,
    .pure-u-md-22-24,
    .pure-u-md-23-24,
    .pure-u-md-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto
    }
    .pure-u-md-1-24 {
        width: 4.1667%;
        *width: 4.1357%
    }
    .pure-u-md-1-12,
    .pure-u-md-2-24 {
        width: 8.3333%;
        *width: 8.3023%
    }
    .pure-u-md-1-8,
    .pure-u-md-3-24 {
        width: 12.5%;
        *width: 12.469%
    }
    .pure-u-md-1-6,
    .pure-u-md-4-24 {
        width: 16.6667%;
        *width: 16.6357%
    }
    .pure-u-md-1-5 {
        width: 20%;
        *width: 19.969%
    }
    .pure-u-md-5-24 {
        width: 20.8333%;
        *width: 20.8023%
    }
    .pure-u-md-1-4,
    .pure-u-md-6-24 {
        width: 25%;
        *width: 24.969%
    }
    .pure-u-md-7-24 {
        width: 29.1667%;
        *width: 29.1357%
    }
    .pure-u-md-1-3,
    .pure-u-md-8-24 {
        width: 33.3333%;
        *width: 33.3023%
    }
    .pure-u-md-3-8,
    .pure-u-md-9-24 {
        width: 37.5%;
        *width: 37.469%
    }
    .pure-u-md-2-5 {
        width: 40%;
        *width: 39.969%
    }
    .pure-u-md-5-12,
    .pure-u-md-10-24 {
        width: 41.6667%;
        *width: 41.6357%
    }
    .pure-u-md-11-24 {
        width: 45.8333%;
        *width: 45.8023%
    }
    .pure-u-md-1-2,
    .pure-u-md-12-24 {
        width: 50%;
        *width: 49.969%
    }
    .pure-u-md-13-24 {
        width: 54.1667%;
        *width: 54.1357%
    }
    .pure-u-md-7-12,
    .pure-u-md-14-24 {
        width: 58.3333%;
        *width: 58.3023%
    }
    .pure-u-md-3-5 {
        width: 60%;
        *width: 59.969%
    }
    .pure-u-md-5-8,
    .pure-u-md-15-24 {
        width: 62.5%;
        *width: 62.469%
    }
    .pure-u-md-2-3,
    .pure-u-md-16-24 {
        width: 66.6667%;
        *width: 66.6357%
    }
    .pure-u-md-17-24 {
        width: 70.8333%;
        *width: 70.8023%
    }
    .pure-u-md-3-4,
    .pure-u-md-18-24 {
        width: 75%;
        *width: 74.969%
    }
    .pure-u-md-19-24 {
        width: 79.1667%;
        *width: 79.1357%
    }
    .pure-u-md-4-5 {
        width: 80%;
        *width: 79.969%
    }
    .pure-u-md-5-6,
    .pure-u-md-20-24 {
        width: 83.3333%;
        *width: 83.3023%
    }
    .pure-u-md-7-8,
    .pure-u-md-21-24 {
        width: 87.5%;
        *width: 87.469%
    }
    .pure-u-md-11-12,
    .pure-u-md-22-24 {
        width: 91.6667%;
        *width: 91.6357%
    }
    .pure-u-md-23-24 {
        width: 95.8333%;
        *width: 95.8023%
    }
    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-5-5,
    .pure-u-md-24-24 {
        width: 100%
    }
}

@media screen and (min-width:64em) {
    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-1-2,
    .pure-u-lg-1-3,
    .pure-u-lg-2-3,
    .pure-u-lg-1-4,
    .pure-u-lg-3-4,
    .pure-u-lg-1-5,
    .pure-u-lg-2-5,
    .pure-u-lg-3-5,
    .pure-u-lg-4-5,
    .pure-u-lg-5-5,
    .pure-u-lg-1-6,
    .pure-u-lg-5-6,
    .pure-u-lg-1-8,
    .pure-u-lg-3-8,
    .pure-u-lg-5-8,
    .pure-u-lg-7-8,
    .pure-u-lg-1-12,
    .pure-u-lg-5-12,
    .pure-u-lg-7-12,
    .pure-u-lg-11-12,
    .pure-u-lg-1-24,
    .pure-u-lg-2-24,
    .pure-u-lg-3-24,
    .pure-u-lg-4-24,
    .pure-u-lg-5-24,
    .pure-u-lg-6-24,
    .pure-u-lg-7-24,
    .pure-u-lg-8-24,
    .pure-u-lg-9-24,
    .pure-u-lg-10-24,
    .pure-u-lg-11-24,
    .pure-u-lg-12-24,
    .pure-u-lg-13-24,
    .pure-u-lg-14-24,
    .pure-u-lg-15-24,
    .pure-u-lg-16-24,
    .pure-u-lg-17-24,
    .pure-u-lg-18-24,
    .pure-u-lg-19-24,
    .pure-u-lg-20-24,
    .pure-u-lg-21-24,
    .pure-u-lg-22-24,
    .pure-u-lg-23-24,
    .pure-u-lg-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto
    }
    .pure-u-lg-1-24 {
        width: 4.1667%;
        *width: 4.1357%
    }
    .pure-u-lg-1-12,
    .pure-u-lg-2-24 {
        width: 8.3333%;
        *width: 8.3023%
    }
    .pure-u-lg-1-8,
    .pure-u-lg-3-24 {
        width: 12.5%;
        *width: 12.469%
    }
    .pure-u-lg-1-6,
    .pure-u-lg-4-24 {
        width: 16.6667%;
        *width: 16.6357%
    }
    .pure-u-lg-1-5 {
        width: 20%;
        *width: 19.969%
    }
    .pure-u-lg-5-24 {
        width: 20.8333%;
        *width: 20.8023%
    }
    .pure-u-lg-1-4,
    .pure-u-lg-6-24 {
        width: 25%;
        *width: 24.969%
    }
    .pure-u-lg-7-24 {
        width: 29.1667%;
        *width: 29.1357%
    }
    .pure-u-lg-1-3,
    .pure-u-lg-8-24 {
        width: 33.3333%;
        *width: 33.3023%
    }
    .pure-u-lg-3-8,
    .pure-u-lg-9-24 {
        width: 37.5%;
        *width: 37.469%
    }
    .pure-u-lg-2-5 {
        width: 40%;
        *width: 39.969%
    }
    .pure-u-lg-5-12,
    .pure-u-lg-10-24 {
        width: 41.6667%;
        *width: 41.6357%
    }
    .pure-u-lg-11-24 {
        width: 45.8333%;
        *width: 45.8023%
    }
    .pure-u-lg-1-2,
    .pure-u-lg-12-24 {
        width: 50%;
        *width: 49.969%
    }
    .pure-u-lg-13-24 {
        width: 54.1667%;
        *width: 54.1357%
    }
    .pure-u-lg-7-12,
    .pure-u-lg-14-24 {
        width: 58.3333%;
        *width: 58.3023%
    }
    .pure-u-lg-3-5 {
        width: 60%;
        *width: 59.969%
    }
    .pure-u-lg-5-8,
    .pure-u-lg-15-24 {
        width: 62.5%;
        *width: 62.469%
    }
    .pure-u-lg-2-3,
    .pure-u-lg-16-24 {
        width: 66.6667%;
        *width: 66.6357%
    }
    .pure-u-lg-17-24 {
        width: 70.8333%;
        *width: 70.8023%
    }
    .pure-u-lg-3-4,
    .pure-u-lg-18-24 {
        width: 75%;
        *width: 74.969%
    }
    .pure-u-lg-19-24 {
        width: 79.1667%;
        *width: 79.1357%
    }
    .pure-u-lg-4-5 {
        width: 80%;
        *width: 79.969%
    }
    .pure-u-lg-5-6,
    .pure-u-lg-20-24 {
        width: 83.3333%;
        *width: 83.3023%
    }
    .pure-u-lg-7-8,
    .pure-u-lg-21-24 {
        width: 87.5%;
        *width: 87.469%
    }
    .pure-u-lg-11-12,
    .pure-u-lg-22-24 {
        width: 91.6667%;
        *width: 91.6357%
    }
    .pure-u-lg-23-24 {
        width: 95.8333%;
        *width: 95.8023%
    }
    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-5-5,
    .pure-u-lg-24-24 {
        width: 100%
    }
}

@media screen and (min-width:80em) {
    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-1-2,
    .pure-u-xl-1-3,
    .pure-u-xl-2-3,
    .pure-u-xl-1-4,
    .pure-u-xl-3-4,
    .pure-u-xl-1-5,
    .pure-u-xl-2-5,
    .pure-u-xl-3-5,
    .pure-u-xl-4-5,
    .pure-u-xl-5-5,
    .pure-u-xl-1-6,
    .pure-u-xl-5-6,
    .pure-u-xl-1-8,
    .pure-u-xl-3-8,
    .pure-u-xl-5-8,
    .pure-u-xl-7-8,
    .pure-u-xl-1-12,
    .pure-u-xl-5-12,
    .pure-u-xl-7-12,
    .pure-u-xl-11-12,
    .pure-u-xl-1-24,
    .pure-u-xl-2-24,
    .pure-u-xl-3-24,
    .pure-u-xl-4-24,
    .pure-u-xl-5-24,
    .pure-u-xl-6-24,
    .pure-u-xl-7-24,
    .pure-u-xl-8-24,
    .pure-u-xl-9-24,
    .pure-u-xl-10-24,
    .pure-u-xl-11-24,
    .pure-u-xl-12-24,
    .pure-u-xl-13-24,
    .pure-u-xl-14-24,
    .pure-u-xl-15-24,
    .pure-u-xl-16-24,
    .pure-u-xl-17-24,
    .pure-u-xl-18-24,
    .pure-u-xl-19-24,
    .pure-u-xl-20-24,
    .pure-u-xl-21-24,
    .pure-u-xl-22-24,
    .pure-u-xl-23-24,
    .pure-u-xl-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto
    }
    .pure-u-xl-1-24 {
        width: 4.1667%;
        *width: 4.1357%
    }
    .pure-u-xl-1-12,
    .pure-u-xl-2-24 {
        width: 8.3333%;
        *width: 8.3023%
    }
    .pure-u-xl-1-8,
    .pure-u-xl-3-24 {
        width: 12.5%;
        *width: 12.469%
    }
    .pure-u-xl-1-6,
    .pure-u-xl-4-24 {
        width: 16.6667%;
        *width: 16.6357%
    }
    .pure-u-xl-1-5 {
        width: 20%;
        *width: 19.969%
    }
    .pure-u-xl-5-24 {
        width: 20.8333%;
        *width: 20.8023%
    }
    .pure-u-xl-1-4,
    .pure-u-xl-6-24 {
        width: 25%;
        *width: 24.969%
    }
    .pure-u-xl-7-24 {
        width: 29.1667%;
        *width: 29.1357%
    }
    .pure-u-xl-1-3,
    .pure-u-xl-8-24 {
        width: 33.3333%;
        *width: 33.3023%
    }
    .pure-u-xl-3-8,
    .pure-u-xl-9-24 {
        width: 37.5%;
        *width: 37.469%
    }
    .pure-u-xl-2-5 {
        width: 40%;
        *width: 39.969%
    }
    .pure-u-xl-5-12,
    .pure-u-xl-10-24 {
        width: 41.6667%;
        *width: 41.6357%
    }
    .pure-u-xl-11-24 {
        width: 45.8333%;
        *width: 45.8023%
    }
    .pure-u-xl-1-2,
    .pure-u-xl-12-24 {
        width: 50%;
        *width: 49.969%
    }
    .pure-u-xl-13-24 {
        width: 54.1667%;
        *width: 54.1357%
    }
    .pure-u-xl-7-12,
    .pure-u-xl-14-24 {
        width: 58.3333%;
        *width: 58.3023%
    }
    .pure-u-xl-3-5 {
        width: 60%;
        *width: 59.969%
    }
    .pure-u-xl-5-8,
    .pure-u-xl-15-24 {
        width: 62.5%;
        *width: 62.469%
    }
    .pure-u-xl-2-3,
    .pure-u-xl-16-24 {
        width: 66.6667%;
        *width: 66.6357%
    }
    .pure-u-xl-17-24 {
        width: 70.8333%;
        *width: 70.8023%
    }
    .pure-u-xl-3-4,
    .pure-u-xl-18-24 {
        width: 75%;
        *width: 74.969%
    }
    .pure-u-xl-19-24 {
        width: 79.1667%;
        *width: 79.1357%
    }
    .pure-u-xl-4-5 {
        width: 80%;
        *width: 79.969%
    }
    .pure-u-xl-5-6,
    .pure-u-xl-20-24 {
        width: 83.3333%;
        *width: 83.3023%
    }
    .pure-u-xl-7-8,
    .pure-u-xl-21-24 {
        width: 87.5%;
        *width: 87.469%
    }
    .pure-u-xl-11-12,
    .pure-u-xl-22-24 {
        width: 91.6667%;
        *width: 91.6357%
    }
    .pure-u-xl-23-24 {
        width: 95.8333%;
        *width: 95.8023%
    }
    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-5-5,
    .pure-u-xl-24-24 {
        width: 100%
    }
}

.pure-menu ul {
    position: absolute;
    visibility: hidden
}

.pure-menu.pure-menu-open {
    visibility: visible;
    z-index: 400;
    width: 100%
}

.pure-menu ul {
    left: -10000px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 399
}

.pure-menu>ul {
    position: relative
}

.pure-menu-open>ul {
    left: 0;
    top: 0;
    visibility: visible
}

.pure-menu-open>ul:focus {
    outline: 0
}

.pure-menu li {
    position: relative
}

.pure-menu a,
.pure-menu .pure-menu-heading {
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap
}

.pure-menu.pure-menu-horizontal>.pure-menu-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    vertical-align: middle
}

.pure-menu.pure-menu-horizontal>ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle
}

.pure-menu li a {
    padding: 5px 20px
}

.pure-menu-can-have-children>.pure-menu-label:after {
    content: '\25B8';
    float: right;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif;
    margin-right: -20px;
    margin-top: -1px
}

.pure-menu-can-have-children>.pure-menu-label {
    padding-right: 30px
}

.pure-menu-separator {
    background-color: #dfdfdf;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden
}

.pure-menu-hidden {
    display: none
}

.pure-menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.pure-menu-horizontal li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle
}

.pure-menu-horizontal li li {
    display: block
}

.pure-menu-horizontal>.pure-menu-children>.pure-menu-can-have-children>.pure-menu-label:after {
    content: "\25BE"
}

.pure-menu-horizontal>.pure-menu-children>.pure-menu-can-have-children>.pure-menu-label {
    padding-right: 30px
}

.pure-menu-horizontal li.pure-menu-separator {
    height: 50%;
    width: 1px;
    margin: 0 7px
}

.pure-menu-horizontal li li.pure-menu-separator {
    height: 1px;
    width: auto;
    margin: 7px 2px
}

.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: #fff;
    border: 1px solid #b7b7b7
}

.pure-menu.pure-menu-horizontal,
.pure-menu.pure-menu-horizontal .pure-menu-heading {
    border: 0
}

.pure-menu a {
    border: 1px solid transparent;
    border-left: 0;
    border-right: 0
}

.pure-menu a,
.pure-menu .pure-menu-can-have-children>li:after {
    color: #777
}

.pure-menu .pure-menu-can-have-children>li:hover:after {
    color: #fff
}

.pure-menu .pure-menu-open {
    background: #dedede
}

.pure-menu li a:hover,
.pure-menu li a:focus {
    background: #eee
}

.pure-menu li.pure-menu-disabled a:hover,
.pure-menu li.pure-menu-disabled a:focus {
    background: #fff;
    color: #bfbfbf
}

.pure-menu .pure-menu-disabled>a {
    background-image: none;
    border-color: transparent;
    cursor: default
}

.pure-menu .pure-menu-disabled>a,
.pure-menu .pure-menu-can-have-children.pure-menu-disabled>a:after {
    color: #bfbfbf
}

.pure-menu .pure-menu-heading {
    color: #565d64;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: .5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dfdfdf
}

.pure-menu .pure-menu-selected a {
    color: #000
}

.pure-menu.pure-menu-open.pure-menu-fixed {
    border: 0;
    border-bottom: 1px solid #b7b7b7
}

.pure-paginator {
    letter-spacing: -.31em;
    *letter-spacing: normal;
    *word-spacing: -.43em;
    text-rendering: optimizespeed;
    list-style: none;
    margin: 0;
    padding: 0
}

.opera-only:-o-prefocus,
.pure-paginator {
    word-spacing: -.43em
}

.pure-paginator li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto
}

.pure-paginator .pure-button {
    border-radius: 0;
    padding: .8em 1.4em;
    vertical-align: top;
    height: 1.1em
}

.pure-paginator .pure-button:focus,
.pure-paginator .pure-button:active {
    outline-style: none
}

.pure-paginator .prev,
.pure-paginator .next {
    color: #C0C1C3;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .45)
}

.pure-paginator .prev {
    border-radius: 2px 0 0 2px
}

.pure-paginator .next {
    border-radius: 0 2px 2px 0
}

@media (max-width:480px) {
    .pure-menu-horizontal {
        width: 100%
    }
    .pure-menu-children li {
        display: block;
        border-bottom: 1px solid #000
    }
}

@media screen and (max-width:567px) {
    .hide-xs {
        display: none !important
    }
}

@media screen and (min-width:568px) and (max-width:767px) {
    .hide-sm {
        display: none !important
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .hide-md {
        display: none !important
    }
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .hide-lg {
        display: none !important
    }
}

@media screen and (min-width:1280px) {
    .hide-xl {
        display: none !important
    }
}

@media screen and (max-width:767px) {
    .no-margin-right-md {
        margin-right: 0 !important
    }
}

.responsive-video {
    position: relative;
    padding-bottom: 56.5%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    margin: 10px 0;
    max-width: 640px
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"],
h1,
h2,
h3 {
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

input,
textarea,
select {
    border-radius: 2px !important;
    resize: none
}

:required {
    border-color: #129fea !important
}

:invalid {
    color: #555 !important
}

.pure-button {
    padding: 10px 22px;
    text-decoration: none !important
}

.pure-button[disabled],
.pure-button-disabled {
    cursor: default !important
}

.pure-button-primary {
    background-color: #008ddf !important
}

.button-green {
    background-color: #57b057 !important;
    color: #fff
}

.button-red {
    background-color: #d95353! important;
    color: #fff
}

.button-md {
    padding: 8px 17px;
    font-size: 13px
}

.button-sm {
    padding: 6px 12px;
    font-size: 12px;
    position: relative;
    top: -2px
}

.pure-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: auto !important;
    background: #fafafa !important;
    z-index: 999;
    height: 52px
}

.pure-menu li ul {
    border: 0 !important;
    border-top: 1px solid #ddd !important;
    border-left: 1px solid #eee !important;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .3) !important
}

.pure-menu li a {
    padding: 13px 20px !important;
    color: #373737;
    text-shadow: 0 1px 1px #fff
}

.pure-menu li li a {
    padding: 6px 20px !important
}

.pure-menu-children a {
    padding: 4px 20px !important;
    font-size: 14px
}

.pure-menu-children .pure-menu-separator {
    margin: 0 2px !important
}

.pure-menu-children li {
    border-bottom: 0 !important
}

.pure-button-disabled.ajax {
    cursor: pointer !important
}

.pure-button .check {
    display: none
}

.pure-button-disabled .check {
    display: inline
}


.icon {
    position: relative;
    display: inline-block;
    padding: 0;
    background-image: url(../img/sprites.png);
    background-image: url(../img/sprites.svg), none;
    background-repeat: no-repeat;
    cursor: pointer
}

.icon_menu_loupe {
    background-position: -200px 0;
    width: 17px;
    height: 17px;
    top: 2px
}

.icon_download {
    background-position: 0 -50px;
    width: 15px;
    height: 15px;
    top: 2px
}

.icon_award {
    background-position: -50px -50px;
    width: 16px;
    height: 14px;
    top: 1px
}

.icon_ec {
    background-position: -100px -50px;
    width: 15px;
    height: 16px;
    top: 2px
}

.icon_followers {
    background-position: -200px -50px;
    width: 16px;
    height: 14px;
    top: 2px
}

.icon_menu_dots {
    background-position: -50px -100px;
    width: 18px;
    height: 5px;
    top: -2px
}

.icon_menu_bars {
    background-position: -100px -100px;
    width: 20px;
    height: 17px;
    top: 3px
}

.icon_comment_sm {
    background-position: -200px -100px;
    width: 12px;
    height: 11px
}

.icon_favorite_sm {
    background-position: -200px -125px;
    width: 13px;
    height: 12px
}

.icon_download_sm {
    background-position: -200px -150px;
    width: 12px;
    height: 11px
}

.icon_menu_user {
    background-position: -50px -150px;
    width: 15px;
    height: 17px;
    left: 1px;
    top: 3px
}

.icon_pinterest_fff {
    background-position: -100px -150px;
    width: 12px;
    height: 15px
}

.icon_videos {
    background-position: -150px -150px;
    width: 12px;
    height: 13px
}

.icon_view {
    background-position: -150px -175px;
    width: 16px;
    height: 12px
}

.icon_view_sm {
    background-position: -200px -175px;
    width: 14px;
    height: 11px
}

.icon_like {
    background-position: 0 -200px;
    width: 15px;
    height: 14px
}

.icon_like_filled {
    background-position: -20px -200px;
    width: 15px;
    height: 14px
}

.icon_favorite {
    background-position: -50px -200px;
    width: 15px;
    height: 14px
}

.icon_favorite_filled {
    background-position: -70px -200px;
    width: 15px;
    height: 14px
}

.icon_flag {
    background-position: -100px -200px;
    width: 13px;
    height: 14px
}

.icon_share {
    background-position: -150px -200px;
    width: 19px;
    height: 15px
}

.icon_like_sm {
    background-position: -200px -200px;
    width: 12px;
    height: 12px
}

.icon_facebook {
    background-position: 0 -250px;
    width: 7px;
    height: 15px
}

.icon_twitter {
    background-position: -50px -250px;
    width: 18px;
    height: 15px
}

.icon_google_plus {
    background-position: -100px -250px;
    width: 22px;
    height: 15px
}

.icon_edit {
    background-position: -150px -250px;
    width: 14px;
    height: 14px
}

.icon_comment {
    background-position: -200px -250px;
    width: 14px;
    height: 13px
}

.icon_comment_filled {
    background-position: -220px -250px;
    width: 14px;
    height: 13px
}

.icon_facebook_fff {
    background-position: 0 -300px;
    width: 7px;
    height: 15px
}

.icon_twitter_fff {
    background-position: -50px -300px;
    width: 18px;
    height: 15px
}

.icon_google_plus_fff {
    background-position: -100px -300px;
    width: 22px;
    height: 15px
}

.icon_microsoft_fff {
    background-position: -150px -300px;
    width: 15px;
    height: 15px
}

.icon_instagram_fff {
    background-position: 0 -400px;
    width: 15px;
    height: 15px
}

.icon_options {
    background-position: 0 -350px;
    width: 16px;
    height: 16px
}

.icon_external {
    background-position: -50px -350px;
    width: 15px;
    height: 15px;
    top: 1px
}

.icon_cc0 {
    background-position: -100px -350px;
    width: 16px;
    height: 16px;
    top: 2px
}

.icon_images {
    background-position: -150px -350px;
    width: 14px;
    height: 12px
}

#sign_in_out .pure-button {
    display: block;
    text-align: left;
    padding: 12px 20px !important;
    margin: 0 0 10px;
    color: #fff;
}
#sign_in_out input {
    padding: 12px 10px 11px !important;
    width: 100%;
    max-width: none !important;
}
.no-margin-right-md a:focus, a:hover {
  color: #23527c;
text-decoration: none;
}
.no-margin-right-md p {
font-size: 14px;
}
.social_auth a em {
    display: inline-block;
    width: 26px;
    text-align: center;
}

.dropup{
list-style: none;
}

.pure-button {
    font-family: inherit;
    font-size: 16px;
        padding: .5em 1.3em;
    /*color: #444;
    color: rgba(0,0,0,.8);*/
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
.pure-button, .button-green a:focus, a:hover {
    color: #FFF ;
}

table td p{
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    padding: 0;
}
.tab_menu li, .tab_menu a {
    display: inline-block;
    padding: 10px 0;
    margin: 0 15px;
    cursor: pointer;
    color: #71767a;
    border-bottom: 2px solid transparent;
    line-height: 24px;
    font-size: 16px;

}

.tab_menu .selected {
    color: #0a88d3;
    border-bottom: 2px solid #0a88d3;
}
.tab_menu li:hover, .tab_menu a:hover {
    color: #0a88d3;
}
#sidebar_box p {
  font-size: 14px;
}
#sidebar_box a:focus, a:hover {
    color: #337ab7;
}
.profile_image {
   position: relative;
   width: 21px;
   height: 21px;
   border-radius: 32px;
}

#search_logs a:hover {
    background: #888;
    color: #fff;
}

#search_logs a {
    background: #fafafa;
    display: inline-block;
    padding: 3px 7px;
    margin: 0 5px 5px 0;
    border: 1px solid #eee;
    font-size: 13px;
    text-decoration: none;
    color: #555;
}

.messages_menu a {
    display: block;
    color: #333;
    padding: 12px;
    font-size: 14px;
    background: #f7f7f7;
}

.messages_menu a.selected {
    background: #dedede !important;
}

.messages_menu a:hover {
    background: #efefef;
}

.messages_menu form {
    font-size: 14px;
    margin: 15px 0 35px;
    display: block;
    overflow: hidden;
}

.tiny_search {
    display: inline-block;
    position: relative;
    font-size: 16px;
    min-width: 0;
}

.messages_menu form [type="text"] {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    padding: 5px 12px;
}

.tiny_search.active input {
    width: 220px;
    opacity: 1;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0 !important;
    padding: 2px 28px 2px 2px;
    background: transparent;
}
.tiny_search label {
    z-index: 10;
    display: inline-block !important;
    margin: 0 !important;
    background: url(/img/sprites.png);
    background: url(/img/sprites.svg),none;
    background-position: -200px 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 1px;
    opacity: .7;
}
.tiny_search.active input {
    width: 250px;
    opacity: 1;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0 !important;
    padding: 2px 28px 2px 2px;
    background: transparent;
}

.tiny_search [type="submit"] {
    position: absolute;
    left: -9999px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.tiny_search [type="text"] {
    transition: .3s;
    width: 0;
    opacity: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0 !important;
    padding: 2px 28px 2px 2px;
  }

  .pure-form-aligned .pure-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}

input[type="text"] {
    width: 55%;

}

textarea, input[type="url"], input[type="email"] {
    width: 55%;
    /*max-width: 500px;*/
}

.pure-form-aligned .pure-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
    font-weight: normal;
        font-size: 16px;
}
.pure-form-aligned .pure-control-group {
    margin-bottom: .5em;
}
.pure-control-group {
    margin: 20px 0 0;
}
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#id_options label {
    width: auto;
    white-space: normal;
}
.profile_image_button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    opacity: 1;
    border-radius: 0;
    transition: .2s;
    color: black;
}
.button-md {
    padding: 8px 17px;
    font-size: 13px;
}
.button-sm {
    padding: 6px 12px;
    font-size: 12px;
    position: relative;
    top: -2px;
    color: black;
}
.bubble, .dd_box+div {
    display: none;
    position: absolute;
    z-index: 999;
    background: #fff;
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    font-size: 13px;
    line-height: 1.6;
}
#team img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    border: 4px solid #eee;
    margin: auto;
}

#team {
    margin-top: 30px;
    border-top: 1px dotted #ccc;
}
.pure-img {
    display: inline-block;
}
#team > div {
    overflow: hidden;
    margin: 30px 0;
}
#team > div div {
    overflow: hidden;
}
