.cover {
    position: relative;
    background-image: url('..img/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 0 70px;
}

.top {
    padding: 25px 20px 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .6) 100%);
    margin: 0 auto;
    text-align: center;
}

.top h1 {
    padding: 30px 15px 0;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .6);
    margin: auto;
    max-width: 800px;
}

.top h2 {
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .6);
    margin: auto;
    max-width: 800px;
    font-size: 22px;
    padding: 12px 15px 20px;
}

.bottom {
    position: absolute;
    z-index: 10;
    padding: 5px 15px 5px;
    color: #fff;
    text-align: right;
    background: linear-gradient(to top, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    left: 0;
    right: 0;
}

.contentbody {
    text-align: center;
    max-width: 1064px;
    margin: auto;
    padding: 10px 20px 48px;
}

.index {
    margin: 0 auto;
}

.tab_menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f0f1f4;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

.tab_menu li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 0;
    margin: 0px 15px;
    cursor: pointer;
    color: #71767a;
    line-height: 24px;
    font-size: 16px;
}

.tab_menu .active {
    color: #0a88d3 !important;
    border-bottom: 2px solid #0a88d3;
}

.tab_menu li .active {
    color: #0a88d3;
}

.tab_menu li:active {
    color: #0a88d3;
}

.tab_menu li:hover {
    text-decoration: none;
    color: #0a88d3;
    border-bottom: 2px solid #0a88d3;
}

.tab_menu a{
  color: #71767a
}

.tab_menu a:hover, .tab_menu a:active, .tab_menu a:focus{
  color: rgb(51, 122, 183);
  text-decoration: none
}

.index h2 {
    font-size: 30px;
    color: #515457;
    margin-bottom: 21px;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 12px;
}

p {
    color: #555;
    margin: 0 0 10px;
    line-height: 1.6;
    font-size: 16px;
}

.containergallery {
    background: #f7f8fa;
    margin: 0 auto;
}

.gallery {
    max-width: 1800px;
    margin: 0 auto;
    padding: 22px 0px;
}

.gallery .flex_grid {
    margin: 0;
}

.flex_grid {
    overflow: hidden;
    margin: 4px 17px 0 18px;
}

.flex_grid.credits .item {
    background: #f3f3f3;
}

.flex_grid .item {
    float: left;
    position: relative;
    display: none;
    margin: 5px;
    box-sizing: content-box;
    overflow: hidden;
}
.flex_grid.credits .item div a:hover {
    background: rgba(255, 255, 255, .2);
      text-decoration: none
}
.button-green {
    background-color: #57b057;
    color: #fff;
}

.pure-button {
    padding: 10px 22px;
    text-decoration: none !important;
}

.pure-button {
    font-family: inherit;
    font-size: 126%;
    border: 0 rgba(0, 0, 0, 0);
    text-decoration: none;
    border-radius: 2px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
}

.pure-button,
.button-green a:focus,
a:hover {
    color: #FFF;
}

.pure-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flex_grid.credits .item:hover>div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.flex_grid.credits .item>div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    padding: 10px 10px 8px;
    opacity: 0;
    transition: .25s;
    background: linear-gradient(to top, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, 0) 100%);
    font-size: 14px;
    color: #fff;
}


.pure-u-1 {
    width: 100%;
}

.pure-u-xl-1-5 {
    width: 20%;
}

.pure-u-xl-1-5 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.index .cats {
    margin: auto;
    max-width: 1100px;
}

.hover_links a:hover,
.hover_opacity:hover {
    opacity: .65;
}

.index .cats a {
    color: #555;
    display: block;
    padding: 7px 20px 7px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}

.hover_links a,
.hover_opacity {
    opacity: 1;
    transition: opacity .2s;
}

.pure-g {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}

.icon_menu_dots {
    background-position: -50px -100px;
    width: 18px;
    height: 5px;
    top: -2px;
}

.icon {
    position: relative;
    display: inline-block;
    padding: 0;
    background-image: url(..img/sprites.png);
    background-image: url(..img/sprites.svg), none;
    background-repeat: no-repeat;
    cursor: pointer;
}

.counts em {
    font-style: normal;
}

.flex_grid.credits .item div .icon {
    top: 2px;
    margin-left: 8px;
    transition: opacity .3s;
}

.icon_like {
    background-position: 0 -200px;
    width: 15px;
    height: 14px;
}

.icon_favorite {
    background-position: -50px -200px;
    width: 15px;
    height: 14px;
}

.icon_comment {
    background-position: -200px -250px;
    width: 14px;
    height: 13px;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto;
}


#bg_svg {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

svg:not(:root) {
    overflow: hidden;
}

.window {
    background: #fff;
    padding: 20px 25px;
    margin: 50px auto;
    max-width: 640px;
    overflow: hidden;
    border-radius: 2px;
    border: 2px solid rgba(0,0,0,.3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
h1, .pseudo_h1 {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0 0 25px;
}

:invalid {
    color: #555 !important;
}

:required {
    border-color: #129fea !important;
}

input, textarea, select {
    border-radius: 2px !important;
    resize: none;
}

html, button, input, select, textarea, .pure-g [class *="pure-u"], h1, h2, h3 {
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=url],
.pure-form input[type=date],
.pure-form input[type=month],
.pure-form input[type=time],
.pure-form input[type=datetime],
.pure-form input[type=datetime-local],
.pure-form input[type=week],
.pure-form input[type=number],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=color],
.pure-form select,
.pure-form textarea {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
