a:active, a:hover {
    outline: 0;
}

.search-container{
  width: 93%;
  margin: 0px auto;
  padding: 10px 20px 16px;
}

.media_filter {
    height: 54px;
    font-size: 13px;
}

.media_filter-dropdown{
  display: inline-block;
  margin-top: 10px
}

.media_filter-dropdown .dropdown-menu{
  z-index: 999
}

.media-dropdown-menu{
  border: 1px solid #d3d3d3;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  border-radius: 2px;
}

.media-dropdown-menu ul li{
  display: block;
}

.media-dropdown-menu a{
  display: block;
  color: inherit;
  font-size: 13px;
  padding: 6px 28px 6px 18px;
  position: relative;
}

.media-dropdown-menu a:hover{
  background: #eee;
  text-decoration: none
}

.media_filter .check {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 13px;
}

.media_filter-btn{
  border: none;
  background: none;
  margin-right: 30px;
  cursor: pointer;
  color: #333;
  opacity: .8;
  transition: .2s;
  white-space: nowrap;
}

.media_filter-btn-active{
  padding: 5px 10px;
  background: #eee;
  border-radius: 2px;
}

.media_filter span {
    line-height: 54px;
    margin-right: 30px;
    cursor: pointer;
    color: #333;
    opacity: .8;
    transition: .2s;
    white-space: nowrap;
}

.media_filter .arrow {
    position: relative;
    top: -2px;
}
.arrow {
    display: inline-block;
    zoom: 1;
    width: 0;
    height: 0;
    position: relative;
    top: -1px;
    vertical-align: middle;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #777;
}

.flex_grid .item {
    float: left;
    position: relative;
    display: none;
    margin: 5px;
    box-sizing: content-box;
    overflow: hidden;
}

.flex_grid .item img {
    display: block;
    width: 100%;
    height: auto;
}

.flex_grid {
    overflow: hidden;
    margin: 4px 17px 0 18px;
}

.pure-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.pure-button {
    font-family: inherit;
    font-size: 100%;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.pure-button-hover, .pure-button:hover, .pure-button:focus {
    color: #444;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#1a000000',GradientType=0);
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.pure-button[disabled], .pure-button-disabled, .pure-button-disabled:hover, .pure-button-disabled:focus, .pure-button-disabled:active {
    border: 0;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: alpha(opacity=40);
    -khtml-opacity: .4;
    -moz-opacity: .4;
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none;
}

#paginator_clone .dd_box {
    display: none;
}

.hover_links.inverted a, .hover_opacity.inverted {
    opacity: .75;
}

.hover_links a, .hover_opacity {
    opacity: 1;
    transition: opacity .2s;
}

.bubble, .dd_box+div {
    display: none;
    position: absolute;
    z-index: 999;
    background: #fff;
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    font-size: 13px;
    line-height: 1.6;
}

table th, table td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
}

.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

.paginator [type="text"] {
    text-align: center;
    padding: 0 4px ! important;
    line-height: 25px;
    min-width: 25px;
    position: relative;
    top: -1px;
}

.media_list .paginator .pure-button {
    line-height: 23px;
    padding: 0 15px;
    position: relative;
    top: -1px;
}

.paginator span.pure-button {
    outline: 1px solid #999 !important;
    background: #fdfdfd;
    cursor: default;
}

.paginator .pure-button {
    margin: 5px 3px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 12px !important;
    color: #777;
    border-radius: 0;
    outline: 1px solid #eee !important;
    border: 1px solid #f9f9f9;
    background: #f5f5f5;
}

.pure-button[disabled], .pure-button-disabled {
    cursor: default !important;
}

.paginator i, .single_quot, .times, .check {
    font-style: normal;
    display: inline-block;
    font-size: 20px;
    overflow: hidden;
    line-height: 12px;
}

.media_list .paginator {
    position: relative;
    top: 10px;
    font-size: 13px;
}

.paginator i, .single_quot, .times, .check {
    font-style: normal;
    display: inline-block;
    font-size: 20px;
    overflow: hidden;
    line-height: 12px;
}

.icon_options {
    background-position: 0 -350px;
    width: 16px;
    height: 16px;
}

.icon {
    position: relative;
    display: inline-block;
    padding: 0;
    background-image: url(../img/sprites.png);
    background-image: url(../img/sprites.svg),none;
    background-repeat: no-repeat;
    cursor: pointer;
}

#push {
    clear: both;
    margin: 55px 0 0;
}

.pure-button {
    padding: 10px 22px;
    text-decoration: none !important;
}

.media_filter-size{
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    outline: 0 !important;
}

.media_filter-size{
    display: inline;
    width: 60px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    border-radius: 2px !important;
    resize: none;
}

.media_filter-size::-webkit-input-placeholder{
    text-overflow: ellipsis;
}

.media_filter-size:-ms-input-placeholder{
    text-overflow: ellipsis;
}

.media_filter-size::placeholder{
    text-overflow: ellipsis;
}

.media-dropdown-menu-size{
  width: 250px;
  padding: 10px 15px;
  font-size: 13px
}

.media_filter-size-btn{
  padding: 7px 18px;
}

.media_filter-color .dropdown-menu{
  padding: 10px 15px ;
  font-size: 13px;
  color: #555
}

.media_filter-color .checkbox{
  margin-bottom: 3px;
  margin-top: 3px
}

.media_filter-color .checkbox label{
  padding-left: 15px
}

.media_filter-color .checkbox input[type=checkbox]{
  margin-left: -15px;
  margin-top: 2px
}

.color_filter{
  margin-top: 15px
}

.color_filter input {
  display: none;
}

.color_filter label {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    outline: 1px solid #ddd;
    cursor: pointer;
}
