@media only screen and (min-width: 320px)
{
  .blog_posts div{
    min-height: 300px;
    padding-left: 0;
    padding-right: 0;
  }

  .blog-footer{
    margin-bottom: 30px
  }

  .dropdown-menu-blog{
    left: 0px;
    top: 25px
  }

  #media_show .left {
      margin-right: auto;
  }

  #media_show .left .inside {
      margin-right: auto;
      padding-right: auto;
  }

  #content{
    padding: 0 20px
  }

  #media_show{
    margin-top: 24px;
  }

  #media_show .right {
      width: 100%;
  }

  #media_show .overlay {
    padding: 10px;
  }

  .forum-wrapper{
    padding: 0 20px
  }

  .forum-inputt, .forum-selectt{
    width: 100%;
  }

}

@media only screen and (min-width: 360px)
{

}

@media only screen and (min-width: 375px)
{
}
@media only screen and (min-width: 412px)
{
}

@media only screen and (min-width: 414px)
{
}

@media only screen and (min-width: 568px)
{
}

@media only screen and (min-width: 640px)
{
}

@media only screen and (min-width: 667px)
{
}

@media only screen and (min-width: 732px)
{
}

@media only screen and (min-width: 736px)
{
}

@media only screen and (min-width: 768px)
{
}

@media only screen and (min-width: 1024px)
{
  .blog_posts div{
    min-height: 350px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .blog-footer{
    margin-bottom: auto
  }

  .dropdown-menu-blog{
    left: 167px
  }

  #media_show .left {
      margin-right: -300px;
  }

  #media_show .left .inside {
      margin-right: 300px;
      padding-right: 50px;
  }

  #content{
    padding: 0;
  }

  #media_show{
    margin: 32px auto 0
  }

  #media_show .right {
      width: 300px;
  }

  #media_show .overlay {
    padding: 25px;
  }

  .forum-wrapper{
    padding: 0 0
  }
}

@media only screen and (min-width: 1200px)
{
}

@media only screen and (min-width: 1366px){

}
